# Environment Configuration
ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=26257
DB_USER=root
DB_PASSWORD=
DB_NAME=inferoute
DB_SSL_MODE=disable

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Service Ports
ORCHESTRATOR_PORT=8080
AUTH_SERVICE_PORT=8081
PROVIDER_MGMT_PORT=8082
PROVIDER_COMM_PORT=8083
PROVIDER_HEALTH_PORT=8084
GENERAL_API_PORT=8085

# Auth configuration
AUTH_HMACSECRET=your-hmac-secret-key
AUTH_TOKENDURATION=60 


# Internal Security
INTERNAL_API_KEY=your-secure-internal-key-here  # Change this in production
INTERNAL_NETWORK_CIDR=172.16.0.0/12  # Docker network range

# Logging
LOG_LEVEL=debug 